div.graphviz {
  svg {
    max-width: 100%;
  }
  &.is-loading {
    padding: 2em;
    background: $primary-very-low;
  }

  .graph-error {
    padding: 2em;
    background-color: $danger-low;
    margin: 0;
    color: $danger;
    text-align: center;
  }
}
